rabbitmq:
  version: "3.6.6-1"
  enabled: True
  running: True
  # Optional block: special configuration for user and group
  config:
    user: rabbitmq
    user_properties:
      optional_groups:
        - ssl-cert
    group: rabbitmq
    # Configuration for the AMQP broker
    rabbit:
      tcp_listeners:
        '0.0.0.0': 5672
      # For SSL, both ssl_listeners and ssl_options must be present
      ssl_listeners:
        '0.0.0.0': 5671
      ssl_options:
        cacertfile: /srv/certs/bundleca.pem
        certfile: /srv/certs/{{ grains['fqdn'] }}.pem
        keyfile: /srv/certs/{{ grains['fqdn'] }}.key
    # Configuration for the management plugin
    rabbitmq_management:
      listener:
        port: 15672
        ip: '0.0.0.0'
        ssl: true
        ssl_opts:
          cacertfile: /srv/certs/bundleca.pem
          certfile: /srv/certs/{{ grains['fqdn'] }}.pem
          keyfile: /srv/certs/{{ grains['fqdn'] }}.key
        
  # Configuration for a rabbitmq cluster
  cluster:
    # Erlang cookie is mandatory
    cookie: ZMLDKUZRBPUXWAPANSDR
    # List of members and their aliases to be appended to /etc/hosts.
    # This is mandatory for a RabbitMQ cluster to work as expected.
    members:
      rabbit1: rabbit1.my.node
      rabbit2: rabbit2.my.node
  plugin:
    rabbitmq_management:
      - enabled
  policy:
    rabbitmq_policy:
      - name: HA
      - pattern: '.*'
      - definition: '{"ha-mode": "all"}'

    other_policy:
      - vhost: '/other'
      - name: HA-other
      - pattern: '.*'
      - definition: '{"ha-mode": "all"}'
  vhost:
    vh_name: '/virtual/host'
    other_vhost: '/other'
  user:
    admin:
      - password: password
      - force: True
      - tags: monitoring, user, administrator
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
      - runas: root
    user1:
      - password: password
      - force: True
      - tags: monitoring, user
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
      - runas: root
    user2:
      - password: password
      - force: True
      - tags: monitoring, user
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
      - runas: root
{#- vim:ft=sls
-#}
