########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{%- if config is defined %}
    {% for key, value in config.items() %}
{{ key }}={{ value }}
    {%- endfor %}
{%- elif env is defined %}
    {% for key, value in env.items() %}
{{ key | upper }}={{ value }}
    {%- endfor %}
{%- endif %}
