#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
[Unit]
Description=RabbitMQ broker {{ '' if name is not defined or name else name }}
Wants=network-online.target
After=syslog.target network.target

[Service]
Type=notify
User=rabbitmq
Group=rabbitmq
UMask=0027
NotifyAccess=all
TimeoutStartSec=600
Environment="RABBITMQ_NODENAME={{ 'rabbit' if nodename is not defined else nodename }}"
Environment="RABBITMQ_NODE_PORT={{ '5672' if nodeport is not defined else nodeport }}"
Environment="RABBITMQ_SERVER_START_ARGS=-rabbitmq_management listener [{port,{{ nodeport + 10000 }}}]"
Environment="RABBITMQ_DIST_PORT={{ '25672' if distport is not defined else distport }}"
Environment="RABBITMQ_MNESIA_DIR={{ '/var/lib/rabbitmq/mnesia' if mnesia_dir is not defined else mnesia_dir }}"
Environment="RABBITMQ_CONFIG_FILE={{ '/etc/rabbitmq/rabbitmq.conf' if cfgfile is not defined else cfgfile }}"

# To override LimitNOFILE, create the following file:
#
# /etc/systemd/system/rabbitmq-server.service.d/limits.conf
#
# with the following content:
#
# [Service]
# LimitNOFILE=65536

LimitNOFILE=32768

# Note: systemd on CentOS 7 complains about in-line comments,
# so only append them here
#
# Restart:
# The following setting will automatically restart RabbitMQ
# in the event of a failure. systemd service restarts are not a
# replacement for service monitoring. Please see
# https://www.rabbitmq.com/monitoring.html
Restart=on-failure
RestartSec=10
WorkingDirectory={{ '/var/lib/rabbitmq' if workdir is not defined else workdir }}
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl shutdown
# See rabbitmq/rabbitmq-server-release#51
SuccessExitStatus=69

[Install]
WantedBy=multi-user.target
